
body {
    display: grid;
}

nav {
    background-color: darkslateblue;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    border-radius: 110px;

}

div.container {
  display: grid;
  
}

div.work {
  position: absolute;
  left: 100px;
  padding: auto;
}

div.more {
    position: absolute;
    right: 150px;
    padding: auto;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

li {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

dt {
    text-transform: capitalize;
    font-weight: bold;
}